@tailwind base;
@tailwind components;
@tailwind utilities;

#infos {
    background-image: url(../assets/img/hero-image.jpg);
    background-size: cover;
    width: 100%;
}

@font-face {
    font-family: 'Arvo';
    src: url(../assets/fonts/Arvo/Arvo-Bold.ttf);
}

@font-face {
    font-family: 'helvetica neue';
    src: url(../assets/fonts/helvetica\ neue/.ttf);
}
